version: "3.8"

services:
  nakama:
    image: registry.heroiclabs.com/heroiclabs/nakama:3.30.0
    restart: "no"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    entrypoint:
      - "/bin/sh"
      - "-ecx"
      - >
          /nakama/nakama migrate up --database.address $$DATABASE_URL &&
          exec /nakama/nakama
          --name nakama1
          --database.address $$DATABASE_URL
          --logger.level DEBUG
          --session.token_expiry_sec 7200
          --metrics.prometheus_port 9100
    ports:
      - "7349:7349"
      - "7350:7350"
      - "7351:7351"
      - "9100:9100"
    healthcheck:
      test: ["CMD", "/nakama/nakama", "healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

volumes:
  prometheus_data: